<div class="btn-toolbar">
    <div class="btn-group">
        <button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown">
          {{currentStore}}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu store" role="menu">
          {{#each fileStores}}
              <li><a href="#" data-store="{{storeName}}">{{displayName}}</a></li>
          {{/each}}
        </ul>
    </div>
</div>
<div class="folder ">
  {{#if hasParent}}<a href="#" class="up">../</a>{{/if}}<span title="{{path}}">{{currentDir}}/</span>
</div>
<div class="files-wrapper">
  {{#if loading}}
      <div class="loading"><i class="fa fa-refresh fa-spin"></i></div>
  {{else}}
    {{#if files}}
        <ul class="files">
          {{#each files}}
              <li data-file-id="{{id}}">
                {{scriptsFileItem this linkFiles=../linkFiles showDelete=../showDelete}}
              </li>
          {{/each}}
        </ul>
    {{else}}
        <div class="message">No files</div>
    {{/if}}
  {{/if}}
</div>